:root{
    margin: 0;
    padding: 0;
    
}
.logo{
    max-width: 12rem;
    margin: 2rem 1rem;
}
.container{

    display: flex;
    flex-direction: column;
    font-family: monospace;
    justify-content: center;
    align-items: center;
}
.heading{
    background-color: black;
    width: 100%;
    padding: 0 1rem;
    color: white;
    display: flex;
    justify-content: center;
}

